In [0]:
select latitude,longitude,`GHG emissions mtons CO2e` AS emissions
from emissions.default.emissions_data

In [0]:
Select county_state_name,population, CAST(Replace(`GHG emissions mtons CO2e`,',','') AS DOUBLE )/ nullif (CAST(REPLACE(population,',','')AS DOUBLE),0) AS Emissions_per_person
from emissions.default.emissions_data
ORDER BY emissions_per_person DESC
LIMIT 10

In [0]:
Select state_abbr, SUM(CAST(Replace(`GHG emissions mtons CO2e`,',','') AS DOUBLE )) AS Total_Emissions
from emissions.default.emissions_data
GROUP BY state_abbr
ORDER BY total_emissions DESC

In [0]:
with top10 AS (
  Select state_abbr, SUM(CAST(Replace(`GHG emissions mtons CO2e`,',','') AS DOUBLE )) AS Total_Emissions
from emissions.default.emissions_data
GROUP BY state_abbr
ORDER BY total_emissions DESC
LIMIT 10
)
SELECT SUM(total_emissions) AS top10_emissions,
       (SUM(total_emissions)/  (select SUM(CAST(Replace(`GHG emissions mtons CO2e`,',','') AS DOUBLE )) from emissions.default.emissions_data))* 100 AS top10_percentage
FROM top10

In [0]:
Select county_state_name,population, CAST(Replace(`GHG emissions mtons CO2e`,',','') AS DOUBLE ) AS Total_Emissions
from emissions.default.emissions_data
ORDER BY total_emissions DESC
LIMIT 10